{% extends 'base.html' %}
{% load static %}

{% block style %}
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

<!-- Leaflet.Locate -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<style>
  #map {
    height: 500px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">

  <div id="map"></div>

  <ul class="mt-3">
    <li>
      <a href="https://leafletjs.com" target="_blank">
        https://leafletjs.com
      </a>
    </li>
    <li>
      <a href="https://github.com/domoritz/leaflet-locatecontrol" target="_blank">
        https://github.com/domoritz/leaflet-locatecontrol
      </a>
    </li>
    <li>
      <a href="https://uedayou.net/jrslod/" target="_blank">
        https://uedayou.net/jrslod/
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block script %}
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!-- Leaflet.Locate -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
  charset="utf-8"></script>
<script>
  var map = L.map('map').setView([34.78, 138], 12);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  L.control.locate().addTo(map);
  const urls = [
    '{% static "app/geojson/伊豆箱根鉄道駿豆線.geojson" %}',
    '{% static "app/geojson/東海旅客鉄道東海道線.geojson" %}',
    '{% static "app/geojson/東日本旅客鉄道東海道線.geojson" %}'
  ];
  const lineStyle = {
    "color": "#ff7800",
    "weight": 5,
    "opacity": 0.65
  };
  const geojsonMarkerOptions = {
    radius: 8,
    fillColor: "#ff7800",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8
  };
  let startCoordinates;
  urls.forEach((url) => {
    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        L.geoJson(data, {
          style: lineStyle,
          pointToLayer: (feature, latlng) => {
            return L.circleMarker(latlng, geojsonMarkerOptions);
          },
          onEachFeature: (feature, layer) => {
            layer.bindPopup(`
            <div>
              <p>${feature.properties.name}</p>
              <button class="btn btn-primary" onclick="setStartPoint([${feature.geometry.coordinates}]);">開始地点</button>
              <button class="btn btn-warning" onclick="setEndPoint([${feature.geometry.coordinates}]);">終了地点</button>
            </div>
            `);
          }
        }).addTo(map);
      });
  });
  function setStartPoint(coordinates) {
    startCoordinates = coordinates;
    console.log('set start:', coordinates);
  }
  function setEndPoint(coordinates) {
    const lineStyle = {
      "color": "#000000",
      "weight": 5,
      "opacity": 0.65
    };
    var myLines = {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {
            "popupContent": "<p>テスト</p>"
          },
          "geometry": {
            "type": "LineString",
            "coordinates": [startCoordinates, coordinates]
          }
        }
      ]
    };
    console.log('myLines: ', myLines)
    L.geoJSON(myLines, { style: lineStyle }).addTo(map);
  }
</script>
{% endblock %}