{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Video Uploader</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>

    <br><br>
    {% for video in videos %}
    <video width='400' controls>
    <source src='{{ MEDIA_URL }}{{ video.videofile }}' type='video/mp4'>
    Your browser does not support the video tag.
    </video>
    <br><br>
    {% endfor %}
</div>
{% endblock %}