{% extends 'app/recommend/base.html' %}

{% block index %}active{% endblock %}

{% block content %}
{{ block.super }}
<h2>links.csv</h2>
<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>

<h2>movies.csv</h2>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>

<h2>ratings.csv</h2>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>

<h2>tags.csv</h2>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>
{% endblock %}